                    .website {
                    width: 100%;
                    height: 100%;
                }
                
                .website .div {
                    position: relative;
                    height: 100%;
                    background-color: #0d0d0d;
                }
                
                .website .overlap {
                    position: absolute;
                    width: 100%;
                    height: 2015px;
                    top: 4994px;
                    left: 0;
                }
                
                .website .frame {
                    position: absolute;
                    width: 1440px;
                    height: 1049px;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                    overflow: hidden;
                }
                
                .website .overlap-group {
                    position: absolute;
                    width: 1216px;
                    height: 178px;
                    top: 155px;
                    left: 202px;
                }
                
                .website .heading {
                    padding: 0px 210.4px 0px 220px;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    width: 1192px;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                }
                
                .website .meet-our-team {
                    position: relative;
                    width: 1192px;
                    margin-top: -1px;
                    margin-left: -215.2px;
                    margin-right: -215.2px;
                    font-family: "Inter", Helvetica;
                    font-weight: 800;
                    color: transparent;
                    font-size: 128px;
                    letter-spacing: -2px;
                    line-height: 124px;
                }
                
                .website .text-wrapper {
                    color: #ffffff94;
                }
                
                .website .span {
                    color: #3264e3;
                }
                
                .website .heading-2 {
                    position: absolute;
                    width: 1192px;
                    height: 124px;
                    top: 0;
                    left: 24px;
                }
                
                .website .promotors-and {
                    position: absolute;
                    width: 437px;
                    height: 55px;
                    top: 123px;
                    left: 331px;
                    font-family: "Inter", Helvetica;
                    font-weight: 500;
                    color: #ffffff94;
                    font-size: 32px;
                    letter-spacing: -2px;
                    line-height: 124px;
                    white-space: nowrap;
                }
                
                .website .overlap-2 {
                    position: absolute;
                    width: 336px;
                    height: 336px;
                    top: 433px;
                    left: 181px;
                }
                
                .website .rectangle {
                    position: absolute;
                    width: 336px;
                    height: 202px;
                    top: 134px;
                    left: 0;
                    background-color: #d9d9d9;
                    border-radius: 51px;
                }
                
                .website .ellipse {
                    position: absolute;
                    width: 167px;
                    height: 171px;
                    top: 0;
                    left: 85px;
                    background-color: #0049b8;
                    border-radius: 83.5px/85.5px;
                }
                
                .website .overlap-3 {
                    position: absolute;
                    width: 336px;
                    height: 308px;
                    top: 397px;
                    left: 583px;
                }
                
                .website .img {
                    position: absolute;
                    width: 336px;
                    height: 202px;
                    top: 106px;
                    left: 0;
                }
                
                .website .ellipse-2 {
                    position: absolute;
                    width: 167px;
                    height: 171px;
                    top: 0;
                    left: 85px;
                    background-color: #3264e3;
                    border-radius: 83.5px/85.5px;
                }
                
                .website .overlap-4 {
                    position: absolute;
                    width: 336px;
                    height: 312px;
                    top: 457px;
                    left: 985px;
                }
                
                .website .rectangle-2 {
                    position: absolute;
                    width: 336px;
                    height: 202px;
                    top: 110px;
                    left: 0;
                    background-color: #d9d9d9;
                    border-radius: 54px;
                }
                
                .website .group {
                    position: absolute;
                    width: 248px;
                    height: 65px;
                    top: 832px;
                    left: 628px;
                }
                
                .website .see-more-wrapper {
                    position: relative;
                    width: 246px;
                    height: 65px;
                    background-color: #d9d9d9;
                    border-radius: 60px;
                }
                
                .website .see-more {
                    position: absolute;
                    top: 7px;
                    left: 28px;
                    font-family: "Outfit", Helvetica;
                    font-weight: 900;
                    color: #000000;
                    font-size: 32px;
                    letter-spacing: 4px;
                    line-height: 51.2px;
                    white-space: nowrap;
                }
                
                .website .frame-2 {
                    position: absolute;
                    width: 1460px;
                    height: 1111px;
                    top: 904px;
                    left: 21px;
                }
                
                .website .group-2 {
                    position: absolute;
                    width: 1097px;
                    height: 161px;
                    top: 868px;
                    left: 167px;
                    border-radius: 14px;
                    border: 1px solid;
                    border-color: #000000b2;
                }
                
                .website .image {
                    position: absolute;
                    width: 183px;
                    height: 28px;
                    top: 66px;
                    left: 384px;
                }
                
                .website .image-2 {
                    position: absolute;
                    width: 188px;
                    height: 74px;
                    top: 43px;
                    left: 55px;
                    object-fit: cover;
                }
                
                .website .image-3 {
                    position: absolute;
                    width: 79px;
                    height: 39px;
                    top: 61px;
                    left: 709px;
                }
                
                .website .image-4 {
                    position: absolute;
                    width: 114px;
                    height: 29px;
                    top: 66px;
                    left: 929px;
                    object-fit: cover;
                }
                
                .website .features-layout-CMS {
                    position: absolute;
                    width: 405px;
                    top: 81px;
                    left: 88px;
                    font-family: "Outfit", Helvetica;
                    font-weight: 400;
                    color: #ffffff;
                    font-size: 32px;
                    letter-spacing: 4px;
                    line-height: 51.2px;
                }
                
                .website .text-wrapper-2 {
                    font-weight: 700;
                }
                
                .website .text-wrapper-3 {
                    font-weight: 200;
                }
                
                .website .company-careers {
                    position: absolute;
                    width: 405px;
                    top: 81px;
                    left: 639px;
                    font-family: "Outfit", Helvetica;
                    font-weight: 400;
                    color: #ffffff;
                    font-size: 32px;
                    letter-spacing: 4px;
                    line-height: 51.2px;
                }
                
                .website .text-wrapper-4 {
                    font-weight: 600;
                }
                
                .website .group-3 {
                    position: absolute;
                    width: 625px;
                    height: 77px;
                    top: 755px;
                    left: 417px;
                }
                
                .website .ghj {
                    position: absolute;
                    width: 146px;
                    height: 77px;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                
                .website .ghjghj {
                    position: absolute;
                    width: 184px;
                    height: 73px;
                    top: 4px;
                    left: 206px;
                    object-fit: cover;
                }
                
                .website .ghjghjghj {
                    position: absolute;
                    width: 175px;
                    height: 76px;
                    top: 1px;
                    left: 450px;
                    object-fit: cover;
                }
                
                .website .overlap-5 {
                    width: 100%;
                    .website .hero-section {
                        position: absolute;
                        width: 1494px;
                        height: 1680px;
                        top: 0;
                        left: 272px;
                        overflow: hidden;
                        background: linear-gradient(180deg, rgba(128.81, 128.81, 128.81, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
                    }
                    .website .overlap-6 {
                        width: 100%;
                    }
                    .website .overlap-7 {
                        width: 100%;
                    }
                    .website .ellipse-3 {
                        position: absolute;
                        width: 610px;
                        height: 581px;
                        top: 0;
                        left: 555px;
                        background-color: #ff1616bf;
                        border-radius: 305px/290.5px;
                        filter: blur(500px);
                    }
                    .website .ellipse-4 {
                        position: absolute;
                        width: 342px;
                        height: 341px;
                        top: 640px;
                        left: 0;
                        background-color: #d9d9d940;
                        border-radius: 171px/170.5px;
                        filter: blur(500px);
                    }
                    .website .ellipse-5 {
                        position: absolute;
                        width: 342px;
                        height: 341px;
                        top: 688px;
                        left: 1375px;
                        background-color: #bc00ff80;
                        border-radius: 171px/170.5px;
                        filter: blur(500px);
                    }
                    .website .discover-the-top-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 1440px;
                        height: 362px;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;
                        position: absolute;
                        top: 392px;
                        left: 160px;
                    }
                    .website .discover-the-top {
                        position: relative;
                        align-self: stretch;
                        height: 372px;
                        margin-top: -1px;
                        margin-bottom: -29.23px;
                        font-family: "Inter", Helvetica;
                        font-weight: 800;
                        color: #ffffff;
                        font-size: 128px;
                        text-align: center;
                        letter-spacing: -2px;
                        line-height: 124px;
                    }
                    .website .navbar {
                        position: absolute;
                        width: 1334px;
                        height: 42px;
                        top: 245px;
                        left: 213px;
                    }
                    .website .element {
                        position: absolute;
                        width: 55px;
                        height: 42px;
                        top: 0;
                        left: 0;
                    }
                    .website .frame-3 {
                        display: flex;
                        width: 659px;
                        height: 29px;
                        align-items: flex-start;
                        gap: 1px;
                        position: absolute;
                        top: 1px;
                        left: 343px;
                    }
                    .website .container {
                        display: flex;
                        flex-direction: column;
                        width: 135px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin-bottom: -1.14px;
                    }
                    .website .link {
                        display: inline-flex;
                        gap: 5.33px;
                        padding: 7px 0px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    .website .heading-wrapper {
                        display: inline-flex;
                        flex-direction: column;
                        align-items: flex-start;
                        position: relative;
                        flex: 0 0 auto;
                        opacity: 0.6;
                    }
                    .website .div-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                        align-self: stretch;
                        width: 100%;
                        flex: 0 0 auto;
                    }
                    .website .text-wrapper-5 {
                        position: relative;
                        width: fit-content;
                        margin-top: -1px;
                        font-family: "Inter", Helvetica;
                        font-weight: 500;
                        color: #ffffff;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: -0.16px;
                        line-height: 16px;
                        white-space: nowrap;
                    }
                    .website .div-framer {
                        display: flex;
                        flex-direction: column;
                        width: 14px;
                        height: 14px;
                        align-items: flex-start;
                        padding: 0px 0px 0px;
                        position: relative;
                        opacity: 0.2;
                    }
                    .website .div-framer-tnv {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4.32px 1.82px 3.32px 1.82px;
                        position: relative;
                        align-self: stretch;
                        width: 100%;
                        flex: 0 0 auto;
                    }
                    .website .div-framer-vilmc {
                        position: relative;
                        width: 2px;
                        height: 7px;
                        margin-top: -0.32px;
                        margin-bottom: -0.32px;
                        background-color: #ffffff;
                        border-radius: 10px;
                        transform: rotate(-45deg);
                    }
                    .website .div-framer-qdv {
                        position: relative;
                        width: 2px;
                        height: 7px;
                        margin-top: -0.32px;
                        margin-bottom: -0.32px;
                        margin-left: -2.36px;
                        background-color: #ffffff;
                        border-radius: 10px;
                        transform: rotate(45deg);
                    }
                    .website .link-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 130px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        margin-bottom: -1.14px;
                    }
                    .website .link-2 {
                        display: inline-flex;
                        gap: 4.97px;
                        padding: 7px 0px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    .website .div-framer-2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4.32px 1.83px 3.32px 1.81px;
                        position: relative;
                        align-self: stretch;
                        width: 100%;
                        flex: 0 0 auto;
                    }
                    .website .link-3 {
                        display: inline-flex;
                        gap: 4.49px;
                        padding: 7px 0px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    .website .div-framer-wrapper {
                        display: inline-flex;
                        padding: 7px 0px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    .website .frame-4 {
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 20px;
                        position: absolute;
                        top: 2px;
                        left: 1187px;
                    }
                    .website .text-wrapper-6 {
                        position: relative;
                        width: 48px;
                        font-family: "Inter", Helvetica;
                        font-weight: 500;
                        color: #ffffff;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: -0.16px;
                        line-height: 16px;
                    }
                    .website .link-4 {
                        display: flex;
                        width: 79px;
                        padding: 7px 10px;
                        background-color: #0099ff;
                        border-radius: 8px;
                        overflow: hidden;
                        box-shadow: 0px 4px 8px #0099ff33;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    .website .div-framer-swqs {
                        position: absolute;
                        width: 79px;
                        height: 30px;
                        top: 0;
                        left: 0;
                        border-radius: 8px;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
                    }
                    .website .div-framer-pm {
                        display: inline-flex;
                        flex-direction: column;
                        height: 16px;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        flex: 0 0 auto;
                    }
                    .website .p-framer-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0px 0.2px 0px 0.58px;
                        position: relative;
                        align-self: stretch;
                        width: 100%;
                        flex: 0 0 auto;
                    }
                    .website .text-wrapper-7 {
                        position: relative;
                        width: fit-content;
                        margin-top: -1px;
                        font-family: "Inter", Helvetica;
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: -0.32px;
                        line-height: 16px;
                        white-space: nowrap;
                    }
                    .website .group-4 {
                        position: absolute;
                        width: 854px;
                        height: 80px;
                        top: 859px;
                        left: 453px;
                        background-color: #1e1e1e;
                        border-radius: 50px;
                    }
                    .website .p {
                        position: absolute;
                        width: 801px;
                        height: 48px;
                        top: 16px;
                        left: 24px;
                        font-family: "Inter", Helvetica;
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 30px;
                        text-align: center;
                        letter-spacing: -0.2px;
                        line-height: 48px;
                    }
                    .website .group-5 {
                        position: absolute;
                        width: 563px;
                        height: 86px;
                        top: 1262px;
                        left: 439px;
                    }
                    .website .group-6 {
                        position: absolute;
                        width: 250px;
                        height: 86px;
                        top: 0;
                        left: 0;
                        background-color: #d9d9d9;
                        border-radius: 31px;
                    }
                    .website .text-wrapper-8 {
                        position: absolute;
                        width: 223px;
                        height: 58px;
                        top: 10px;
                        left: 16px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 900;
                        color: #000000;
                        font-size: 30px;
                        text-align: center;
                        letter-spacing: -0.32px;
                        line-height: 16px;
                    }
                    .website .botones-home-wrapper {
                        position: absolute;
                        width: 250px;
                        height: 86px;
                        top: 0;
                        left: 313px;
                    }
                    .website .botones-home {
                        height: 86px;
                    }
                    .website .overlap-group-wrapper {
                        width: 252px;
                        height: 86px;
                    }
                    .website .overlap-group-2 {
                        position: relative;
                        width: 250px;
                        height: 86px;
                        background-image: url(./img/rectangle-8-1.svg);
                        background-size: 100% 100%;
                    }
                    .website .text-wrapper-9 {
                        position: absolute;
                        width: 250px;
                        height: 58px;
                        top: 11px;
                        left: 0;
                        font-family: "Outfit", Helvetica;
                        font-weight: 900;
                        font-size: 30px;
                        letter-spacing: -0.32px;
                        color: #ffffff;
                        text-align: center;
                        line-height: 16px;
                    }
                    .website .overlap-wrapper {
                        position: absolute;
                        width: 1097px;
                        height: 168px;
                        top: 1412px;
                        left: 216px;
                    }
                    .website .overlap-8 {
                        position: relative;
                        height: 168px;
                        border-radius: 14px;
                    }
                    .website .rectangle-3 {
                        position: absolute;
                        width: 1097px;
                        height: 168px;
                        top: 0;
                        left: 0;
                        background-color: #141416;
                        border-radius: 14px;
                        opacity: 0.7;
                    }
                    .website .image-5 {
                        position: absolute;
                        width: 183px;
                        height: 29px;
                        top: 73px;
                        left: 385px;
                    }
                    .website .image-6 {
                        position: absolute;
                        width: 188px;
                        height: 77px;
                        top: 49px;
                        left: 56px;
                        object-fit: cover;
                    }
                    .website .image-7 {
                        position: absolute;
                        width: 79px;
                        height: 41px;
                        top: 68px;
                        left: 710px;
                    }
                    .website .image-8 {
                        position: absolute;
                        width: 114px;
                        height: 30px;
                        top: 73px;
                        left: 930px;
                        object-fit: cover;
                    }
                    .website .component {
                        position: absolute;
                        width: 1811px;
                        height: 378px;
                        top: 817px;
                        left: 0;
                        overflow: hidden;
                    }
                    .website .frame-5 {
                        display: inline-flex;
                        align-items: flex-start;
                        gap: 28px;
                        position: relative;
                        left: -133px;
                    }
                    .website .rectangle-4 {
                        position: relative;
                        width: 327px;
                        height: 378px;
                        object-fit: cover;
                    }
                    .website .rectangle-5 {
                        position: relative;
                        width: 280px;
                        height: 378px;
                        object-fit: cover;
                    }
                    .website .rectangle-6 {
                        position: relative;
                        width: 593px;
                        height: 378px;
                        object-fit: cover;
                    }
                    .website .rectangle-7 {
                        position: relative;
                        width: 351px;
                        height: 378px;
                        object-fit: cover;
                    }
                    .website .rectangle-8 {
                        position: relative;
                        width: 148px;
                        height: 378px;
                        object-fit: cover;
                    }
                    .website .rectangle-9 {
                        position: relative;
                        width: 380px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -4761px;
                        object-fit: cover;
                    }
                    .website .rectangle-10 {
                        position: relative;
                        width: 561px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -5350px;
                        object-fit: cover;
                    }
                    .website .rectangle-11 {
                        position: relative;
                        width: 460px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -5838px;
                        object-fit: cover;
                    }
                    .website .rectangle-12 {
                        position: relative;
                        width: 280px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -6146px;
                        object-fit: cover;
                    }
                    .website .rectangle-13 {
                        position: relative;
                        width: 593px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -6767px;
                        object-fit: cover;
                    }
                    .website .rectangle-14 {
                        position: relative;
                        width: 351px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -7146px;
                        object-fit: cover;
                    }
                    .website .rectangle-15 {
                        position: relative;
                        width: 561px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -7735px;
                        object-fit: cover;
                    }
                    .website .rectangle-16 {
                        position: relative;
                        width: 380px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -8143px;
                        object-fit: cover;
                    }
                    .website .rectangle-17 {
                        position: relative;
                        width: 561px;
                        height: 378px;
                        margin-top: -1797px;
                        margin-right: -8732px;
                        object-fit: cover;
                    }
                    .website .overlap-9 {
                        position: absolute;
                        width: 1494px;
                        height: 2092px;
                        top: 1690px;
                        left: -18px;
                    }
                    .website .giras {
                        position: absolute;
                        width: 1494px;
                        height: 1214px;
                        top: 0;
                        left: 0;
                        overflow: hidden;
                    }
                    .website .frame-6 {
                        position: absolute;
                        width: 1448px;
                        height: 861px;
                        top: 354px;
                        left: 0;
                        overflow-x: scroll;
                    }
                    .website .CARD {
                        left: 98px;
                        position: absolute;
                        width: 463px;
                        height: 586px;
                        top: 48px;
                    }
                    .website .overlap-10 {
                        position: relative;
                        width: 455px;
                        height: 586px;
                        background-image: url(./img/rectangle-23-1.png);
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                    .website .text-wrapper-10 {
                        position: absolute;
                        width: 372px;
                        height: 64px;
                        top: 319px;
                        left: 83px;
                        font-family: "Inter", Helvetica;
                        font-weight: 800;
                        color: #ffffff;
                        font-size: 48px;
                        letter-spacing: -2px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .text-wrapper-11 {
                        position: absolute;
                        width: 383px;
                        height: 28px;
                        top: 457px;
                        left: 72px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 300;
                        color: #ffffff;
                        font-size: 24px;
                        letter-spacing: -2px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .algunemail-GMAIL-COM {
                        position: absolute;
                        width: 383px;
                        height: 28px;
                        top: 485px;
                        left: 72px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 300;
                        color: #ffffff;
                        font-size: 24px;
                        letter-spacing: -2px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .l-OGO {
                        position: absolute;
                        width: 60px;
                        height: 57px;
                        top: 326px;
                        left: 20px;
                    }
                    .website .info {
                        position: absolute;
                        width: 412px;
                        height: 62px;
                        top: 384px;
                        left: 40px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 300;
                        color: #ffffff;
                        font-size: 24px;
                        text-align: center;
                        letter-spacing: -2px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .ETIQUETAS {
                        position: absolute;
                        width: 265px;
                        height: 33px;
                        top: 522px;
                        left: 39px;
                    }
                    .website .ETIQUETA {
                        position: absolute;
                        width: 128px;
                        height: 33px;
                        top: 0;
                        left: 0;
                    }
                    .website .etiqueta-wrapper {
                        position: relative;
                        width: 126px;
                        height: 33px;
                        background-color: #ff5858;
                        border-radius: 20px;
                    }
                    .website .etiqueta {
                        position: absolute;
                        width: 126px;
                        height: 24px;
                        top: 4px;
                        left: 0;
                        font-family: "Passion One", Helvetica;
                        font-weight: 400;
                        color: #000000;
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 3px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .ETIQUETA-2 {
                        position: absolute;
                        width: 128px;
                        height: 33px;
                        top: 0;
                        left: 139px;
                    }
                    .website .overlap-11 {
                        position: relative;
                        width: 126px;
                        height: 33px;
                        background-color: #d9d9d9;
                        border-radius: 20px;
                    }
                    .website .eva-email-fill {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        top: 489px;
                        left: 39px;
                    }
                    .website .formkit-whatsapp {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        top: 461px;
                        left: 39px;
                    }
                    .website .CARD-2 {
                        left: 2226px;
                        position: absolute;
                        width: 463px;
                        height: 586px;
                        top: 48px;
                    }
                    .website .CARD-3 {
                        left: 630px;
                        position: absolute;
                        width: 463px;
                        height: 586px;
                        top: 48px;
                    }
                    .website .overlap-12 {
                        position: relative;
                        width: 455px;
                        height: 586px;
                        background-image: url(./img/rectangle-23-4.png);
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                    .website .CARD-4 {
                        left: 1694px;
                        position: absolute;
                        width: 463px;
                        height: 586px;
                        top: 48px;
                    }
                    .website .CARD-5 {
                        left: 1162px;
                        position: absolute;
                        width: 463px;
                        height: 586px;
                        top: 48px;
                    }
                    .website .text-wrapper-12 {
                        position: absolute;
                        width: 801px;
                        height: 96px;
                        top: 233px;
                        left: 102px;
                        font-family: "Inter", Helvetica;
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 30px;
                        letter-spacing: -0.2px;
                        line-height: 48px;
                    }
                    .website .ours-agencys-wrapper {
                        height: 134px;
                        padding: 0px 210.4px 0px 220px;
                        top: 38px;
                        left: 118px;
                        display: flex;
                        flex-direction: column;
                        width: 1192px;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                    }
                    .website .ours-agencys {
                        position: relative;
                        width: 1192px;
                        margin-left: -215.2px;
                        margin-right: -215.2px;
                        font-family: "Inter", Helvetica;
                        font-weight: 800;
                        color: transparent;
                        font-size: 96px;
                        letter-spacing: -2px;
                        line-height: 124px;
                    }
                    .website .text-wrapper-13 {
                        color: #0049b8;
                    }
                    .website .text-wrapper-14 {
                        color: #ffffff;
                        font-size: 128px;
                    }
                    .website .higthligth {
                        position: absolute;
                        width: 1440px;
                        height: 881px;
                        top: 1211px;
                        left: 18px;
                        background-color: #1e1e1e;
                    }
                    .website .highlighting-the {
                        position: absolute;
                        width: 678px;
                        top: 206px;
                        left: 93px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 700;
                        color: transparent;
                        font-size: 60px;
                        letter-spacing: 0.6px;
                        line-height: 66px;
                    }
                    .website .text-wrapper-15 {
                        color: #ff5858;
                    }
                    .website .text-wrapper-16 {
                        color: #ffffff;
                    }
                    .website .t-our-artist-tour {
                        position: absolute;
                        width: 642px;
                        top: 451px;
                        left: 93px;
                        font-family: "Outfit", Helvetica;
                        font-weight: 300;
                        color: #fefff9;
                        font-size: 16px;
                        letter-spacing: 1.92px;
                        line-height: 33.6px;
                    }
                    .website .overlap-13 {
                        position: absolute;
                        width: 537px;
                        height: 630px;
                        top: 122px;
                        left: 815px;
                    }
                    .website .group-7 {
                        position: absolute;
                        width: 537px;
                        height: 576px;
                        top: 54px;
                        left: 0;
                    }
                    .website .rectangle-18 {
                        position: absolute;
                        width: 505px;
                        height: 242px;
                        top: 334px;
                        left: 0;
                        object-fit: cover;
                    }
                    .website .rectangle-19 {
                        position: absolute;
                        width: 195px;
                        height: 305px;
                        top: 0;
                        left: 342px;
                        object-fit: cover;
                    }
                    .website .component-2 {
                        position: absolute;
                        width: 322px;
                        height: 353px;
                        top: 0;
                        left: 0;
                        background-image: url(./img/rectangle-20-4.png);
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                    .website .overlap-14 {
                        position: absolute;
                        width: 1440px;
                        height: 1171px;
                        top: 3782px;
                        left: 0;
                    }
                    .website .frame-7 {
                        position: absolute;
                        width: 1440px;
                        height: 1171px;
                        top: 0;
                        left: 0;
                        background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(102.57, 110.5, 53.87, 0) 100%);
                    }
                    .website .nowtoursby-artist-wrapper {
                        height: 156px;
                        top: 24px;
                        left: 134px;
                        display: flex;
                        flex-direction: column;
                        width: 1192px;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                    }
                    .website .nowtoursby-artist {
                        position: relative;
                        flex: 1;
                        align-self: stretch;
                        margin-top: -1px;
                        font-family: "Inter", Helvetica;
                        font-weight: 800;
                        color: transparent;
                        font-size: 128px;
                        letter-spacing: -2px;
                        line-height: 124px;
                    }
                    .website .text-wrapper-17 {
                        color: #ff2d2d94;
                    }
                    .website .text-wrapper-18 {
                        color: #a8a8a8;
                        font-size: 40px;
                    }
                    .website .for-this {
                        position: absolute;
                        width: 1192px;
                        height: 49px;
                        top: 225px;
                        left: 134px;
                        font-family: "Inter", Helvetica;
                        font-weight: 800;
                        color: #ffffff94;
                        font-size: 32px;
                        text-align: center;
                        letter-spacing: 14px;
                        line-height: 124px;
                        white-space: nowrap;
                    }
                    .website .group-8 {
                        position: absolute;
                        width: 1170px;
                        height: 652px;
                        top: 323px;
                        left: 135px;
                    }
                    .website .boton-artisytas {
                        position: absolute;
                        width: 340px;
                        height: 124px;
                        top: 1047px;
                        left: 596px;
                    }
                    .website .overlap-15 {
                        position: relative;
                        height: 124px;
                        top: -1px;
                    }
                    .website .rectangle-20 {
                        position: absolute;
                        width: 340px;
                        height: 86px;
                        top: 20px;
                        left: 0;
                        border-radius: 50px;
                        border: 1px solid;
                        border-color: #ffffff;
                    }
                    .website .more-tours {
                        position: absolute;
                        height: 124px;
                        top: 0;
                        left: 74px;
                        font-family: "Inter", Helvetica;
                        font-weight: 300;
                        color: #ffffff;
                        font-size: 32px;
                        letter-spacing: -2px;
                        line-height: 124px;
                        white-space: nowrap;
                    }