:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --pipecomwoodsmoke: rgba(18, 20, 26, 1);
  --pipecomcatskill-white: rgba(237, 242, 247, 1);
  --pipecommanatee: rgba(143, 146, 163, 1);
  --pipecomnero: rgba(255, 255, 255, 1);
  --pipecomwoodsmoke-898: rgba(18, 19, 22, 0.9);
  --pipecomiron-16: rgba(227, 229, 232, 0.16);
  --pipecomshuttle-gray: rgba(101, 105, 123, 1);
  --pipecomwhisper: rgba(250, 250, 252, 1);
  --pipecommako: rgba(64, 67, 79, 1);
  --pipecommischka: rgba(221, 222, 227, 1);
  --pipecomwaterloo: rgba(123, 132, 153, 1);
  --pipecomcinnabar: rgba(226, 86, 44, 1);
  --pipecomtropical-blue: rgba(198, 218, 247, 1);
  --pipecomtuna: rgba(46, 48, 56, 1);
  --pipecomroyal-blue: rgba(60, 86, 217, 1);
  --pipecomathens-gray: rgba(233, 234, 237, 1);
  --pipecomblack: rgba(0, 0, 0, 1);
  --pipecomselago-95: rgba(250, 251, 253, 0.95);
  --pipecomjumbo: rgba(130, 130, 134, 1);
  --pipecommoon-raker: rgba(204, 210, 245, 1);
  --pipecomshark: rgba(28, 29, 34, 1);
  --pipecomwhisper-60: rgba(250, 250, 252, 0.6);
  --pipecombright-gray: rgba(61, 66, 77, 1);
  --pipecomathens-gray-30: rgba(244, 244, 246, 0.3);
  --pipecomwhisper-35: rgba(250, 250, 252, 0.35);
  --pipecomaluminium: rgba(165, 168, 182, 1);
  --pipecomwhisper-15: rgba(250, 250, 252, 0.15);
  --pipecomwhisper-25: rgba(250, 250, 252, 0.25);
  --pipecomwhisper-898: rgba(250, 250, 252, 0.9);
  --pipecomwhisper-10: rgba(250, 250, 252, 0.1);
  --pipecomcomet: rgba(92, 95, 112, 1);
  --pipecomburnt-sienna: rgba(233, 126, 93, 1);
  --pipecomchetwode-blue: rgba(120, 138, 227, 1);
  --pipecomperano: rgba(170, 181, 238, 1);
  --pipecomsantas-gray: rgba(154, 157, 172, 1);
  --pipecomwhisper-85: rgba(250, 250, 252, 0.85);
  --pipecomtrout: rgba(73, 76, 90, 1);
  --pipecomwhisper-75: rgba(250, 250, 252, 0.75);
  --pipecomshamrock: rgba(55, 222, 101, 1);
  --pipecomstorm-gray: rgba(110, 114, 135, 1);
  --pipecomorange-roughy: rgba(215, 73, 29, 1);
  --pipe-com-IBM-plex-mono-medium-11-upper-font-family: "IBMPlex Mono-Medium", Helvetica;
  --pipe-com-IBM-plex-mono-medium-11-upper-font-weight: 500;
  --pipe-com-IBM-plex-mono-medium-11-upper-font-size: 11px;
  --pipe-com-IBM-plex-mono-medium-11-upper-letter-spacing: 1px;
  --pipe-com-IBM-plex-mono-medium-11-upper-line-height: 13.199999809265137px;
  --pipe-com-IBM-plex-mono-medium-11-upper-font-style: normal;
  --pipe-com-inter-medium-77-34-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-77-34-font-weight: 500;
  --pipe-com-inter-medium-77-34-font-size: 77.34375px;
  --pipe-com-inter-medium-77-34-letter-spacing: -2px;
  --pipe-com-inter-medium-77-34-line-height: 80px;
  --pipe-com-inter-medium-77-34-font-style: normal;
  --pipe-com-inter-medium-76-25-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-76-25-font-weight: 500;
  --pipe-com-inter-medium-76-25-font-size: 76.25px;
  --pipe-com-inter-medium-76-25-letter-spacing: -2px;
  --pipe-com-inter-medium-76-25-line-height: 80px;
  --pipe-com-inter-medium-76-25-font-style: normal;
  --pipe-com-inter-medium-13-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-font-weight: 500;
  --pipe-com-inter-medium-13-font-size: 13px;
  --pipe-com-inter-medium-13-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-line-height: 22.989999771118164px;
  --pipe-com-inter-medium-13-font-style: normal;
  --pipe-com-inter-medium-17-3-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-17-3-font-weight: 500;
  --pipe-com-inter-medium-17-3-font-size: 17.296875px;
  --pipe-com-inter-medium-17-3-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-17-3-line-height: 24.299999237060547px;
  --pipe-com-inter-medium-17-3-font-style: normal;
  --pipe-com-inter-medium-13-45-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-45-font-weight: 500;
  --pipe-com-inter-medium-13-45-font-size: 13.453125px;
  --pipe-com-inter-medium-13-45-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-45-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-13-45-font-style: normal;
  --pipe-com-inter-medium-13-34-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-34-font-weight: 500;
  --pipe-com-inter-medium-13-34-font-size: 13.34375px;
  --pipe-com-inter-medium-13-34-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-34-line-height: 20.280000686645508px;
  --pipe-com-inter-medium-13-34-font-style: normal;
  --pipe-com-inter-medium-37-97-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-37-97-font-weight: 500;
  --pipe-com-inter-medium-37-97-font-size: 37.96875px;
  --pipe-com-inter-medium-37-97-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-37-97-line-height: 44px;
  --pipe-com-inter-medium-37-97-font-style: normal;
  --pipe-com-inter-medium-38-28-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-38-28-font-weight: 500;
  --pipe-com-inter-medium-38-28-font-size: 38.28125px;
  --pipe-com-inter-medium-38-28-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-38-28-line-height: 44px;
  --pipe-com-inter-medium-38-28-font-style: normal;
  --pipe-com-inter-medium-15-5-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-15-5-font-weight: 500;
  --pipe-com-inter-medium-15-5-font-size: 15.5px;
  --pipe-com-inter-medium-15-5-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-15-5-line-height: 23.200000762939453px;
  --pipe-com-inter-medium-15-5-font-style: normal;
  --pipe-com-inter-medium-15-38-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-15-38-font-weight: 500;
  --pipe-com-inter-medium-15-38-font-size: 15.375px;
  --pipe-com-inter-medium-15-38-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-15-38-line-height: 23.200000762939453px;
  --pipe-com-inter-medium-15-38-font-style: normal;
  --pipe-com-inter-medium-15-25-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-15-25-font-weight: 500;
  --pipe-com-inter-medium-15-25-font-size: 15.25px;
  --pipe-com-inter-medium-15-25-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-15-25-line-height: 23.200000762939453px;
  --pipe-com-inter-medium-15-25-font-style: normal;
  --pipe-com-inter-medium-12-9-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-12-9-font-weight: 500;
  --pipe-com-inter-medium-12-9-font-size: 12.8984375px;
  --pipe-com-inter-medium-12-9-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-12-9-line-height: 22.989999771118164px;
  --pipe-com-inter-medium-12-9-font-style: normal;
  --pipe-com-inter-medium-38-91-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-38-91-font-weight: 500;
  --pipe-com-inter-medium-38-91-font-size: 38.90625px;
  --pipe-com-inter-medium-38-91-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-38-91-line-height: 44px;
  --pipe-com-inter-medium-38-91-font-style: normal;
  --pipe-com-inter-medium-17-16-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-17-16-font-weight: 500;
  --pipe-com-inter-medium-17-16-font-size: 17.15625px;
  --pipe-com-inter-medium-17-16-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-17-16-line-height: 24.299999237060547px;
  --pipe-com-inter-medium-17-16-font-style: normal;
  --pipe-com-inter-medium-38-59-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-38-59-font-weight: 500;
  --pipe-com-inter-medium-38-59-font-size: 38.59375px;
  --pipe-com-inter-medium-38-59-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-38-59-line-height: 44px;
  --pipe-com-inter-medium-38-59-font-style: normal;
  --pipe-com-inter-medium-13-23-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-23-font-weight: 500;
  --pipe-com-inter-medium-13-23-font-size: 13.234375px;
  --pipe-com-inter-medium-13-23-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-23-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-13-23-font-style: normal;
  --pipe-com-inter-medium-38-75-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-38-75-font-weight: 500;
  --pipe-com-inter-medium-38-75-font-size: 38.75px;
  --pipe-com-inter-medium-38-75-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-38-75-line-height: 44px;
  --pipe-com-inter-medium-38-75-font-style: normal;
  --pipe-com-inter-medium-38-13-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-38-13-font-weight: 500;
  --pipe-com-inter-medium-38-13-font-size: 38.125px;
  --pipe-com-inter-medium-38-13-letter-spacing: -0.6000000238418579px;
  --pipe-com-inter-medium-38-13-line-height: 44px;
  --pipe-com-inter-medium-38-13-font-style: normal;
  --pipe-com-inter-medium-22-69-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-22-69-font-weight: 500;
  --pipe-com-inter-medium-22-69-font-size: 22.6875px;
  --pipe-com-inter-medium-22-69-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-22-69-line-height: 31.200000762939453px;
  --pipe-com-inter-medium-22-69-font-style: normal;
  --pipe-com-inter-medium-23-06-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-23-06-font-weight: 500;
  --pipe-com-inter-medium-23-06-font-size: 23.0625px;
  --pipe-com-inter-medium-23-06-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-23-06-line-height: 31.200000762939453px;
  --pipe-com-inter-medium-23-06-font-style: normal;
  --pipe-com-inter-medium-23-63-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-23-63-font-weight: 500;
  --pipe-com-inter-medium-23-63-font-size: 23.625px;
  --pipe-com-inter-medium-23-63-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-23-63-line-height: 31.200000762939453px;
  --pipe-com-inter-medium-23-63-font-style: normal;
  --pipe-com-inter-medium-22-88-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-22-88-font-weight: 500;
  --pipe-com-inter-medium-22-88-font-size: 22.875px;
  --pipe-com-inter-medium-22-88-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-22-88-line-height: 31.200000762939453px;
  --pipe-com-inter-medium-22-88-font-style: normal;
  --pipe-com-inter-medium-23-25-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-23-25-font-weight: 500;
  --pipe-com-inter-medium-23-25-font-size: 23.25px;
  --pipe-com-inter-medium-23-25-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-23-25-line-height: 31.200000762939453px;
  --pipe-com-inter-medium-23-25-font-style: normal;
  --pipe-com-inter-medium-11-81-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-11-81-font-weight: 500;
  --pipe-com-inter-medium-11-81-font-size: 11.8125px;
  --pipe-com-inter-medium-11-81-letter-spacing: 0.20000000298023224px;
  --pipe-com-inter-medium-11-81-line-height: 17.399999618530273px;
  --pipe-com-inter-medium-11-81-font-style: normal;
  --pipe-com-inter-medium-17-44-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-17-44-font-weight: 500;
  --pipe-com-inter-medium-17-44-font-size: 17.4375px;
  --pipe-com-inter-medium-17-44-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-17-44-line-height: 24.299999237060547px;
  --pipe-com-inter-medium-17-44-font-style: normal;
  --pipe-com-inter-medium-31-13-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-31-13-font-weight: 500;
  --pipe-com-inter-medium-31-13-font-size: 31.125px;
  --pipe-com-inter-medium-31-13-letter-spacing: -0.4000000059604645px;
  --pipe-com-inter-medium-31-13-line-height: 38.400001525878906px;
  --pipe-com-inter-medium-31-13-font-style: normal;
  --pipe-com-inter-medium-31-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-31-font-weight: 500;
  --pipe-com-inter-medium-31-font-size: 31px;
  --pipe-com-inter-medium-31-letter-spacing: -0.4000000059604645px;
  --pipe-com-inter-medium-31-line-height: 38.400001525878906px;
  --pipe-com-inter-medium-31-font-style: normal;
  --pipe-com-inter-medium-15-88-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-15-88-font-weight: 500;
  --pipe-com-inter-medium-15-88-font-size: 15.875px;
  --pipe-com-inter-medium-15-88-letter-spacing: 0px;
  --pipe-com-inter-medium-15-88-line-height: 22.399999618530273px;
  --pipe-com-inter-medium-15-88-font-style: normal;
  --pipe-com-inter-medium-27-02-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-27-02-font-weight: 500;
  --pipe-com-inter-medium-27-02-font-size: 27.015625px;
  --pipe-com-inter-medium-27-02-letter-spacing: -0.20000000298023224px;
  --pipe-com-inter-medium-27-02-line-height: 35px;
  --pipe-com-inter-medium-27-02-font-style: normal;
  --pipe-com-inter-regular-13-font-family: "Inter-Regular", Helvetica;
  --pipe-com-inter-regular-13-font-weight: 400;
  --pipe-com-inter-regular-13-font-size: 13px;
  --pipe-com-inter-regular-13-letter-spacing: 0px;
  --pipe-com-inter-regular-13-line-height: normal;
  --pipe-com-inter-regular-13-font-style: normal;
  --pipe-com-inter-medium-13-67-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-67-font-weight: 500;
  --pipe-com-inter-medium-13-67-font-size: 13.671875px;
  --pipe-com-inter-medium-13-67-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-67-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-13-67-font-style: normal;
  --pipe-com-inter-medium-13-78-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-78-font-weight: 500;
  --pipe-com-inter-medium-13-78-font-size: 13.78125px;
  --pipe-com-inter-medium-13-78-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-78-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-13-78-font-style: normal;
  --pipe-com-inter-medium-13-56-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-13-56-font-weight: 500;
  --pipe-com-inter-medium-13-56-font-size: 13.5625px;
  --pipe-com-inter-medium-13-56-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-13-56-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-13-56-font-style: normal;
  --pipe-com-inter-medium-14-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-14-font-weight: 500;
  --pipe-com-inter-medium-14-font-size: 14px;
  --pipe-com-inter-medium-14-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-14-line-height: 20.299999237060547px;
  --pipe-com-inter-medium-14-font-style: normal;
  --pipe-com-inter-medium-10-83-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-10-83-font-weight: 500;
  --pipe-com-inter-medium-10-83-font-size: 10.828125px;
  --pipe-com-inter-medium-10-83-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-10-83-line-height: 15.949999809265137px;
  --pipe-com-inter-medium-10-83-font-style: normal;
  --pipe-com-inter-medium-11-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-11-font-weight: 500;
  --pipe-com-inter-medium-11-font-size: 11px;
  --pipe-com-inter-medium-11-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-11-line-height: 15.949999809265137px;
  --pipe-com-inter-medium-11-font-style: normal;
  --pipe-com-inter-bold-12-font-family: "Inter-Bold", Helvetica;
  --pipe-com-inter-bold-12-font-weight: 700;
  --pipe-com-inter-bold-12-font-size: 12px;
  --pipe-com-inter-bold-12-letter-spacing: 0.20000000298023224px;
  --pipe-com-inter-bold-12-line-height: 17.399999618530273px;
  --pipe-com-inter-bold-12-font-style: normal;
  --pipe-com-inter-medium-12-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-12-font-weight: 500;
  --pipe-com-inter-medium-12-font-size: 12px;
  --pipe-com-inter-medium-12-letter-spacing: 0.20000000298023224px;
  --pipe-com-inter-medium-12-line-height: 17.399999618530273px;
  --pipe-com-inter-medium-12-font-style: normal;
  --pipe-com-inter-medium-30-63-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-30-63-font-weight: 500;
  --pipe-com-inter-medium-30-63-font-size: 30.625px;
  --pipe-com-inter-medium-30-63-letter-spacing: -0.4000000059604645px;
  --pipe-com-inter-medium-30-63-line-height: 38.400001525878906px;
  --pipe-com-inter-medium-30-63-font-style: normal;
  --pipe-com-inter-medium-16-34-font-family: "Inter-Medium", Helvetica;
  --pipe-com-inter-medium-16-34-font-weight: 500;
  --pipe-com-inter-medium-16-34-font-size: 16.3359375px;
  --pipe-com-inter-medium-16-34-letter-spacing: 0.10000000149011612px;
  --pipe-com-inter-medium-16-34-line-height: 24.59000015258789px;
  --pipe-com-inter-medium-16-34-font-style: normal;
}
